/* >>> TABLE OF CONTENTS:
----------------------------------------
# Base
	- Typography
	- Elements
	- Links
  - Layouts
# Components
	- Header
	- Main
    -Home
    -About
    -Works
	- Footer
  - Keyframes
---------------------------------------- */

/* ----------
# Base
---------- */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #89cff0;

  --home-color: #89cff0;
  --about-color: #b700cf;
  --works-color: #ff8f26;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* ---------- Typography ---------- */

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Bitter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

/* ---------- Elements ---------- */

body {
  font-family: 'Bitter', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2,
h3,
a {
  font-weight: bold;
}

h1{
  margin-top: 0.1rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p:not(.copyright) {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* ---------- Links ---------- */

a {
  text-decoration: none;
  color: #000;
}

/* ----------
# Components
---------- */


/* ---------- Header ---------- */

header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  place-items: center;
}

header {
  position: fixed;
  z-index: 1;
}

#current-time {
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.logo {
  margin: 0.25rem;
}

.header-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 2rem;
  /* width: calc(100% - 1rem); */
  text-align: center;
  margin: 0.5rem;
}

#home .header-nav {
  background-image: linear-gradient(90deg, var(--home-color) 0%, var(--about-color) 100%);
}

#about .header-nav {
  background-image: linear-gradient(90deg, var(--home-color) 0%, var(--about-color) 50%, var(--works-color) 100%);
}

#works .header-nav {
  background-image: linear-gradient(90deg, var(--about-color) 0%, var(--works-color) 100%);
}

.header-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.header-nav li {
  min-width: 3.5rem;
}

.header-nav a {
  display: block;
  padding: 1rem 0;
}

.header-nav li,
.header-nav svg {
  display: block;
  width: 100%;
}

.current-page {
  position: relative;
}

.current-page::before {
  content: '';
  width: 70%;
  border-top: solid 3px #000;
  position: absolute;
  left: 15%;
  top: 0;
  z-index: 1;
}

.header-nav {
    max-width: 30rem;
    margin: 0.5rem auto;
}
.header-nav a {
  max-height: 3.5rem;
  padding: 0.5rem;
}


/* ---------- Main ---------- */

main {
  padding: 0 2.75rem;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
    max-width: 40rem;
    z-index: -1;
}


/* --- Home --- */

.intro-h1 {
  font-size: 0;
}

.intro-h1 > span {
  display: inline-block;
  opacity: 0;
  transform: translateX(1rem) translateY(1rem);
  animation: diagonalAppear 2s;
  animation-delay: calc(var(--stagger) * 100ms);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 2.5rem;
}

.intro-line {
  opacity: 0;
  border: 1px solid var(--accent-color);
  transform: translatex(-5rem);
  animation: leftrightAppear 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro-h2 {
  opacity: 0;
  animation: appear 2s;
  animation-delay: calc(var(--stagger) * 500ms);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0.25rem 0;
}

/* --- About --- */

.about-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5.5rem;
}

#about .center-container {
  text-align: center;
  opacity: 0;
  animation: appear 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#about .header-nav {
  position: fixed;
  z-index: 1000;
}

#about h1 {
  margin-bottom: 0.5rem;
  color: var(--about-color);
}
#about h2,
#about h3 {
  margin: 0.5rem 0;
  color: var(--about-color);
}

.tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-border {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 10px;
  padding: 2rem;
}

.about-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: 
  linear-gradient(#15a3a3 0%, #A100FFFF 40%, transparent 60%);
  animation: rotate 2s linear infinite;
}

.about-border::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}


/* --- Works --- */

#works h1 {
  text-align: center;
  color: var(--works-color);
}

#works main {
  padding: 5rem 2.6rem 5.5rem;
  opacity: 0;
  animation: appear 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.single-works-main {
  max-width: 62.625rem;
  margin: 0 auto;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--works-color);
  padding: 1rem;
  max-width: 30rem;
  margin: 1rem auto;
}

@media (min-width: 68.75rem) {
  .work-container {
  max-width: fit-content;
  }
}

.dev-items {
  max-width: 28.75rem;
}

.dev-items a:first-child, 
.dev-items p {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.cta-btn {
  border: 2px solid var(--works-color);
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  animation: pulse 1s alternate infinite;
}

.tools-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.tools-item {
  margin-bottom: 0.75rem;
}

#works h2 {
  border-left: 4px solid var(--works-color);
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.overviewteam-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.overview-container {
  max-width: 40rem;
  margin-right: 2rem;
}

.img-preview {
  display: block;
  margin: 1rem auto;
}

/* ---------- Footer ---------- */

.copyright {
  position: fixed;
  bottom: 4.5rem;
  left: -0.95rem;
  writing-mode: vertical-rl;
}

.footer-nav {
  display: grid;
  grid-template-rows: repeat(3);
  max-width: fit-content;
  position: fixed;
  bottom: 4.5rem;
  right: 0.5rem;
  grid-gap: 0.25rem;
}

.footer-email {
  position: fixed;
  bottom: 12.5rem;
  right: 0.8rem;
  writing-mode: vertical-lr;
}

@media (min-width: 37.5rem) {
  .copyright {
    bottom: 0.5rem;
  }
  .footer-nav {
  bottom: 0.5rem;
  }
  .footer-email {
    bottom: 8.5rem;
  }
}

/* ---------- Keyframes ---------- */

@keyframes diagonalAppear {
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes leftrightAppear {
  to {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes appear {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: 0.75;
    color: var(--works-color);

  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}