/* >>> TABLE OF CONTENTS:
----------------------------------------
# Base
	- Typography
	- Elements
	- Links
  - Layouts
# Components
	- Header
	- Main
    -Home
    -About
    -Works
	- Footer
  - Keyframes
---------------------------------------- */

/* ----------
# Base
---------- */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #89cff0;

  --home-color: #89cff0;
  --about-color: #b700cf;
  --works-color: #ff8f26;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* ---------- Typography ---------- */

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Bitter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

/* ---------- Elements ---------- */

body {
  font-family: 'Bitter', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2,
h3,
a {
  font-weight: bold;
}

h1{
  margin-top: 0.1rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p:not(.copyright) {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* ---------- Links ---------- */

a {
  text-decoration: none;
  color: #000;
}

/* ----------
# Components
---------- */


/* ---------- Header ---------- */

header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  place-items: center;
}

header {
  position: fixed;
  z-index: 1;
}

#current-time {
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.logo {
  margin: 0.25rem;
}

.header-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 2rem;
  /* width: calc(100% - 1rem); */
  text-align: center;
  margin: 0.5rem;
}

#home .header-nav {
  background-image: linear-gradient(90deg, var(--home-color) 0%, var(--about-color) 100%);
}

#about .header-nav {
  background-image: linear-gradient(90deg, var(--home-color) 0%, var(--about-color) 50%, var(--works-color) 100%);
}

#works .header-nav {
  background-image: linear-gradient(90deg, var(--about-color) 0%, var(--works-color) 100%);
}

.header-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.header-nav li {
  min-width: 3.5rem;
}

.header-nav a {
  display: block;
  padding: 1rem 0;
}

.header-nav li,
.header-nav svg {
  display: block;
  width: 100%;
}

.current-page {
  position: relative;
}

.current-page::before {
  content: '';
  width: 70%;
  border-top: solid 3px #000;
  position: absolute;
  left: 15%;
  top: 0;
  z-index: 1;
}

.header-nav {
    max-width: 30rem;
    margin: 0.5rem auto;
}
.header-nav a {
  max-height: 3.5rem;
  padding: 0.5rem;
}


/* ---------- Main ---------- */

main {
  padding: 0 2.75rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* --- Home --- */

.intro-h1 {
  font-size: 0;
}

.intro-h1 > span {
  display: inline-block;
  opacity: 0;
  transform: translateX(1rem) translateY(1rem);
  animation: diagonalAppear 2s;
  animation-delay: calc(var(--stagger) * 100ms);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 1.75rem;
}

.intro-line {
  opacity: 0;
  border: 1px solid var(--accent-color);
  transform: translatex(-5rem);
  animation: leftrightAppear 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro-h2 {
  opacity: 0;
  animation: appear 2s;
  animation-delay: calc(var(--stagger) * 500ms);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0.25rem 0;
  font-size: 1rem;
}

.intro-container{
  padding: 1rem;
}

.star-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, var(--home-color), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 5s ease-in-out infinite, shooting 5s ease-in-out infinite;
  z-index: -1;
}

.star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), var(--home-color), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 5s ease-in-out infinite;
  z-index: -1;
}

.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), var(--home-color), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 5s ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
  z-index: -1;
}

.star:nth-child(1) {
  top: 5vh;
  left: 5vw;
  animation-delay: 0.5s;
}
.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 0.5s;
}
.star:nth-child(2) {
  top: 0;
  left: 80vw;
  animation-delay: 1s;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 1s;
}
.star:nth-child(3) {
  top: 80vh;
  left: 0;
  animation-delay: 1.5s;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 1.5s;
}
.star:nth-child(4) {
  top: 15vh;
  left: 70vw;
  animation-delay: 2s;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 2s;
}
.star:nth-child(5) {
  top: -10vh;
  left: 25vw;
  animation-delay: 2.5s;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 2.5s;
}
.star:nth-child(6) {
  top: 0;
  left: -10vw;
  animation-delay: 3s;
}
.star:nth-child(6)::before, .star:nth-child(6)::after {
  animation-delay: 3s;
}
.star:nth-child(7) {
  top: 25vh;
  left: 35vw;
  animation-delay: 3.5;
}
.star:nth-child(7)::before, .star:nth-child(7)::after {
  animation-delay: 3.5s;
}
.star:nth-child(8) {
  top: 45vh;
  left: 15vw;
  animation-delay: 4s;
}
.star:nth-child(8)::before, .star:nth-child(8)::after {
  animation-delay: 4s;
}
.star:nth-child(9) {
  top: 45vh;
  left: -5vw;
  animation-delay: 4.5s;
}
.star:nth-child(9)::before, .star:nth-child(9)::after {
  animation-delay: 4.5s;
}
.star:nth-child(10) {
  top: 50vh;
  left: 50vw;
  animation-delay: 5s;
}
.star:nth-child(10)::before, .star:nth-child(10)::after {
  animation-delay: 5s;
}
.star:nth-child(11) {
  top: 5vh;
  left: 25vw;
  animation-delay: 5.5s;
}
.star:nth-child(11)::before, .star:nth-child(11)::after {
  animation-delay: 5.5s;
}
.star:nth-child(12) {
  top: 0;
  left: 0;
  animation-delay: 6s;
}
.star:nth-child(12)::before, .star:nth-child(12)::after {
  animation-delay: 6s;
}
.star:nth-child(13) {
  top: 40vh;
  left: 15vw;
  animation-delay: 6.5s;
}
.star:nth-child(13)::before, .star:nth-child(13)::after {
  animation-delay: 6.5s;
}
.star:nth-child(14) {
  top: 0;
  left: 25vw;
  animation-delay: 7s;
}
.star:nth-child(14)::before, .star:nth-child(14)::after {
  animation-delay: 7s;
}
.star:nth-child(15) {
  top: -5vh;
  left: 70vw;
  animation-delay: 7.5s;
}
.star:nth-child(15)::before, .star:nth-child(15)::after {
  animation-delay: 7.5s;
}
.star:nth-child(16) {
  top: 5vh;
  left: 20vw;
  animation-delay: 8s;
}
.star:nth-child(16)::before, .star:nth-child(16)::after {
  animation-delay: 8s;
}
.star:nth-child(17) {
  top: 25vh;
  left: 70vw;
  animation-delay: 8.5s;
}
.star:nth-child(17)::before, .star:nth-child(17)::after {
  animation-delay: 8.5s;
}
.star:nth-child(18) {
  top: 52vh;
  left: 8vw;
  animation-delay: 9s;
}
.star:nth-child(18)::before, .star:nth-child(18)::after {
  animation-delay: 9s;
}
.star:nth-child(19) {
  top: -10vh;
  left: 25vw;
  animation-delay: 9.5s;
}
.star:nth-child(19)::before, .star:nth-child(19)::after {
  animation-delay: 9.5s;
}
.star:nth-child(20) {
  top: 10vh;
  left: 22vw;
  animation-delay: 10s;
}
.star:nth-child(20)::before, .star:nth-child(20)::after {
  animation-delay: 10s;
}

/* --- About --- */

.about-container {
  text-align: center;
  margin: 0 auto;
  max-width: 40rem;
  opacity: 0;
  animation: appear 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 6rem 0;
  clear: both;
}

#about h1 {
  margin-bottom: 0.5rem;
  color: var(--about-color);
}

#about h2,
#about h3 {
  margin: 0.5rem 0;
  color: var(--about-color);
}

#about .tools-container {
  border-left: 4px solid var(--about-color);
}

.tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-border {
  position: relative;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: 2px solid var(--about-color);
}

.about-border:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, var(--about-color), var(--works-color), var(--about-color));
  background-size: 300%;
  width: calc(100%);
  height: calc(100%);
  z-index: -2;
  animation: bgMove 10s linear infinite;
  filter: blur(10px);
}

.about-border:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: calc(100%);
  height: calc(100%);
  z-index: -1;
}


/* --- Works --- */

#works h1 {
  text-align: center;
  color: var(--works-color);
  opacity: 0;
  animation: appear 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}

#works main {
  padding: 5rem 2.6rem 5.5rem;
  overflow-x: hidden;
}

.single-works-main {
  max-width: 62.625rem;
  margin: 0 auto;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--works-color);
  padding: 1rem;
  max-width: 30rem;
  margin: 2.5rem auto 3.5rem;
  background-color: #fff;
}

.work-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, var(--works-color), var(--about-color), var(--works-color));
  background-size: 300%;
  width: calc(100%);
  height: calc(100%);
  z-index: -2;
  animation: bgMove 10s linear infinite;
  filter: blur(10px);
}

.work-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: calc(100%);
  height: calc(100%);
  z-index: -1;
}

.anim-box {
  background-color: #fff;
}

.anim-box:nth-of-type(even) {
  transform: translateX(300%);
  transition: transform 1s ease;
}

.anim-box:nth-of-type(odd) {
  transform: translateX(-300%);
  transition: transform 1s ease;
}

.anim-box.show {
  transform: translateX(0);
}

@media (min-width: 78.125rem) {
  .work-container {
  max-width: fit-content;
  }

  .work-container:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.dev-items {
  max-width: 28.75rem;
  text-align: center;
}

.dev-items a:first-child {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--works-color);
}

.cta-btn {
  border: 2px solid var(--works-color);
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  animation: pulse 1s alternate infinite;
  max-width: 43.75rem;
  margin-left: auto;
  margin-right: auto;
}

.tools-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.tools-item {
  margin-bottom: 0.75rem;
}

#works h2 {
  margin-top: 0;
}

.overviewteam-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overview-container {
  max-width: 40rem;
  margin-right: 2rem;
}

.team-container {
  width: 15rem;
  align-self: start
}

.challenges-container {
  margin-bottom: 2rem;
  display: inline-block;
}

.overview-container,
.team-container,
.challenges-container,
.tools-container {
  border-left: 4px solid var(--works-color);
  box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
  border-radius: .3rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.img-preview {
  display: block;
  margin: 1.25rem auto;
}

.arrows {
	width: 4rem;
	height: 5rem;
	position: absolute;
	left: 50%;
  margin-left: -1.8rem;
	bottom: 4rem;
}

.arrows2 {
  display: none;
}

@media (min-width: 78.125rem) {
  .arrows {
    margin-left: -36rem;
  }

  .arrows2 {
    display: block;
    width: 4rem;
    height: 5rem;
    position: absolute;
    right: 50%;
    margin-right: -36rem;
    bottom: 4rem;
  }
}

.arrows path,
.arrows2 path {
	stroke: #ff0000;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows path.a1,
.arrows2 path.a1 {
	animation-delay:-1s;
}

.arrows path.a2,
.arrows2 path.a2 {
	animation-delay:-0.5s;
}

.arrows path.a3,
.arrows2 path.a3 {	
	animation-delay:0s;
}


/* ---------- Footer ---------- */

.copyright {
  position: fixed;
  bottom: 4.5rem;
  left: -0.95rem;
  writing-mode: vertical-rl;
}

.footer-nav {
  display: grid;
  grid-template-rows: repeat(3);
  max-width: fit-content;
  position: fixed;
  bottom: 4.5rem;
  right: 0.5rem;
  grid-gap: 0.25rem;
}

.footer-email {
  position: fixed;
  bottom: 12.5rem;
  right: 0.8rem;
  writing-mode: vertical-lr;
}

@media (min-width: 37.5rem) {
  .copyright {
    bottom: 0.5rem;
  }
  .footer-nav {
  bottom: 0.5rem;
  }
  .footer-email {
    bottom: 8.5rem;
  }
}

/* ---------- Keyframes ---------- */

@keyframes diagonalAppear {
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes leftrightAppear {
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: 0.75;
    color: var(--works-color);

  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@keyframes bgMove {
  100% {
    background-position: 400% 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: rotate(45deg) translateX(0);
  }
  100% {
    transform: rotate(45deg) translateX(100vw);
  }
}