/* >>> TABLE OF CONTENTS:
----------------------------------------
# Base
	- Typography
	- Elements
	- Links
  - Layouts
# Components
	- Header
	- Main
    -Home
    -About
    -Works
    -Skills
    -Contact
  -Single Works
	- Footer
---------------------------------------- */

/* ----------
# Base
---------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* ---------- Typography ---------- */

@font-face {
  font-family: 'Neue Black';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/TheNeue-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
}

/* ---------- Elements ---------- */

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
a {
  font-family: 'Neue Black', "Times New Roman", sans-serif;
  text-transform: uppercase;
}

/* ---------- Links ---------- */

a {
  text-decoration: none;
  color: #000;
}

/* ----------
# Components
---------- */


/* ---------- Header ---------- */

.logo {
  margin: 0.25rem;
}

.header-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #6495ed;
  width: 100%;
  text-align: center;
}

.header-nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.header-nav a {
  display: block;
  padding: 0.25rem 0;
}

.header-nav li,
.header-nav svg {
  display: block;
  width: 100%;
}

/* ---------- Main ---------- */

/* --- Home --- */


/* --- About --- */


/* --- Works --- */


/* --- Skills --- */


/* --- Contact --- */


/* ---------- Single Works ---------- */


/* ---------- Footer ---------- */

.copyright {
  position: fixed;
  bottom: 3.5rem;
  left: -0.95rem;
  writing-mode: vertical-rl;
}